body {
  margin: 0;
}
#map {
  height: 100vh;
  width: 100%;
}

.control-box {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
