<!DOCTYPE html>
<html>
<head>
  <title>Campus Navigation (Click to Select)</title>

  <link rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css"/>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>

<body>

<div class="control-box">
  <b>Instructions</b><br>
  🖥️ PC is source<br>
  🖱️ Click on map to choose destination<br>
  <button onclick="calculateRoute()">Find Path</button>
</div>

<div id="map"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
